__pycache__/
*.py[cod]
.venv/
.env
.env.*
!.env.example
.DS_Store
.ipynb_checkpoints/
/runs/
/dist/
/private/
*.pem
*.key
*.log
*.aux
*.out
data/data_source/project/*
!data/data_source/project/README.md
data/queried_data/project/*
!data/queried_data/project/README.md
data/processed_data/project/*
!data/processed_data/project/README.md
